:host {
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 3;
    padding: 0;
    align-content: flex-start;
    justify-content: space-around;
  }
  li {
    list-style: none;
    padding: 50px;
    margin: 0 20px 40px 20px;
    border-top: 2px solid darkslategray;
    border-bottom: 2px solid darkslategray;
    background-color: white;
    text-align: center;
  }
  a {
    color: #1d70b8;
    text-decoration: none;
  }
  h3 {
    border-bottom: 2px solid #1d70b8;
    background-color: #1d70b8;
    color: white;
    text-align: left;
    padding: 20px 0 20px 50px;
  }
}
