a {
  color: #1d70b8;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  color: white;
  text-align: left;
  padding: 20px 0 20px 50px;
}
h1 {
  border-bottom: 2px solid #1d70b8;
  background-color: #1d70b8;
}
h2 {
  border-bottom: 2px solid #b81d7d;
  background-color: #b81d7d;
}
h3 {
  border-bottom: 2px solid #b8221d;
  background-color: #b8221d;
}
h4 {
  border-bottom: 2px solid #2ab81d;
  background-color: #2ab81d;
}
h5 {
  border-bottom: 2px solid #b88a1d;
  background-color: #b88a1d;
}
h6 {
  border-bottom: 2px solid #692894;
  background-color: #692894;
}

.ngx-pagination {
  text-align: center;
}

.button {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  padding: 10px;
  display: block;
  margin: 20px auto;
}
.button-success {
  background: #2ab81d;
}
.button-error {
  background: #b8221d;
}
.button-warning {
  background: b88a1d;
}
.button-primary {
  background: #1d70b8;
}
