.players {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-around;
}

.subs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-around;
}

.player {
  ::ng-deep {
    margin: 10px 0;
    padding: 0;
  }
}

.captains {
  text-align: left;
  position: absolute;
  color: green;
  background: yellow;
  margin-top: 0;
}

.position {
  margin: 0 0 0 5px;
}

.name {
  margin: 0;
}

.points {
  margin: 0;
}
