<section>
<h2>Players: {{ teamName }}</h2>

<Label>Switch Gameweek: </Label>
<select [(ngModel)]="eventID" (ngModelChange)="updateGameweek()">
  <option *ngFor="let event of events; let i = index" [ngValue]="event.id"> {{ event.id }} </option>
</select>
<Label> Current Gameweek: {{ gameweekID}}</Label>


<h6>Starting 11</h6>
<div class="players">
  <ng-container *ngFor="let player of players; let i = index">
    <ng-container *ngFor="let pick of team?.picks; let i = index">
    <app-card class="player" *ngIf="pick?.element == player?.id &&
      player?.element_type === 1 &&
      pick.position <= 11">
      <p> {{ positions[player?.element_type - 1].singular_name_short }}</p>
      <p> {{ player.web_name }}</p>
      <p> {{ player.event_points }}</p>
    </app-card>
  </ng-container>
  </ng-container>
  </div>
  <div class="players">
  <ng-container *ngFor="let player of players; let i = index">
    <ng-container *ngFor="let pick of team?.picks; let i = index">
    <app-card class="player" *ngIf="pick?.element == player?.id &&
      player?.element_type === 2 &&
      pick.position <= 11">
      <p> {{ positions[player?.element_type - 1].singular_name_short }}</p>
      <p> {{ player.web_name }}</p>
      <p> {{ player.event_points }}</p>
    </app-card>
  </ng-container>
  </ng-container>
  </div>
  <div class="players">
  <ng-container *ngFor="let player of players; let i = index">
    <ng-container *ngFor="let pick of team?.picks; let i = index">
    <app-card class="player" *ngIf="pick?.element == player?.id &&
      player?.element_type === 3 &&
      pick.position <= 11">
      <p> {{ positions[player?.element_type - 1].singular_name_short }}</p>
      <p> {{ player.web_name }}</p>
      <p> {{ player.event_points }}</p>
    </app-card>
  </ng-container>
  </ng-container>
</div>
<div class="players">
<ng-container *ngFor="let player of players; let i = index">
  <ng-container *ngFor="let pick of team?.picks; let i = index">
  <app-card class="player" *ngIf="pick?.element == player?.id &&
    player?.element_type === 4 &&
    pick.position <= 11">
    <p> {{ positions[player?.element_type - 1].singular_name_short }}</p>
    <p> {{ player.web_name }}</p>
    <p> {{ player.event_points }}</p>
  </app-card>
</ng-container>
</ng-container>
</div>
<h6>Subs</h6>
<div class="subs">
<ng-container *ngFor="let player of players; let i = index">
  <ng-container *ngFor="let pick of team?.picks; let i = index">
  <app-card class="player" *ngIf="pick?.element == player?.id &&
    pick.position == 12">
    <p> {{ positions[player?.element_type - 1].singular_name_short }}</p>
    <p> {{ player.web_name }}</p>
    <p> {{ player.event_points }}</p>
  </app-card>
</ng-container>
</ng-container>
    <ng-container *ngFor="let player of players; let i = index">
      <ng-container *ngFor="let pick of team?.picks; let i = index">
  <app-card class="player" *ngIf="pick?.element == player?.id &&
  pick.position == 13">
  <p> {{ positions[player?.element_type - 1].singular_name_short }}</p>
  <p> {{ player.web_name }}</p>
  <p> {{ player.event_points }}</p>
</app-card>
</ng-container>
</ng-container>
  <ng-container *ngFor="let player of players; let i = index">
    <ng-container *ngFor="let pick of team?.picks; let i = index">
<app-card class="player" *ngIf="pick?.element == player?.id &&
pick.position == 14">
<p> {{ positions[player?.element_type - 1].singular_name_short }}</p>
<p> {{ player.web_name }}</p>
<p> {{ player.event_points }}</p>
</app-card>
</ng-container>
</ng-container>
  <ng-container *ngFor="let player of players; let i = index">
    <ng-container *ngFor="let pick of team?.picks; let i = index">
<app-card class="player" *ngIf="pick?.element == player?.id &&
pick.position == 15">
<p> {{ positions[player?.element_type - 1].singular_name_short }}</p>
<p> {{ player.web_name }}</p>
<p> {{ player.event_points }}</p>
</app-card>
  </ng-container>
</ng-container>
</div>

</section>

<section>
  <button ngDefaultControl [(ngModel)]="toogleTransfers" class="button button-primary" (click)="toggleGWTransfers()"> {{ toogleTransfers }} game week transfers</button>

  <ng-container *ngIf="toogleTransfers === 'Hide'">

    <h2>Transfers game week: {{ eventID }} </h2>
    <div style="display:inline-block; width: 50%;">
      <ng-container *ngFor="let transfer of transfers">
        <ng-container *ngFor="let player of players;">
          <ng-container *ngIf="transfer.event === eventID && transfer.element_in === player?.id">
              <app-card style="color: green;">{{ player.web_name }} </app-card>
          </ng-container>
        </ng-container>
      </ng-container>
      </div>
      <div style="display:inline-block; width: 50%;">
      <ng-container *ngFor="let transfer of transfers">
        <ng-container *ngFor="let player of players;">
          <ng-container *ngIf="transfer.event === eventID && transfer.element_out === player?.id">
              <app-card style="color: red;">{{ player.web_name }} </app-card>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</section>
