.players {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-around;
}


.subs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-around;
}

.player {
  ::ng-deep {
    min-height: 100%;
    width: 14%;

    @media (max-width: 768px) {
      margin: 10px auto;
    }
  }
}


