ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-around;
}

li {
  list-style: none;

  ::ng-deep {
    width: 100%;
    min-height: 100%;
    @media (min-width: 768px) {
      max-width: 20%;
    }
  }
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
