<header>
  <h1>FPL</h1>
</header>

<section>
  <section>
    <p class="error" *ngIf="standingsErrors?.status === 403">
      Using
      <a href="https://cors-anywhere.herokuapp.com">
        CORS ANYWHERE
      </a>
      proxy that requires requesting temp access daily
    </p>

    <p class="error" *ngIf="standingsErrors?.status === 429">
      You are making too making requests
    </p>
  </section>
</section>

<aside>
  <button [(ngModel)]="toogleDGWs" class="button button-primary" (click)="toggleDoubleGws()"> {{ toogleDGWs }} double game weeks</button>

  <ng-container *ngIf="toogleDGWs == 'Hide'">
    <h2>Double Gameweek: {{ fixtureDGW - gameweekID }} game weeks time</h2>
    <Label>Switch Gameweek: </Label>
    <select [(ngModel)]="fixtureDGW" (ngModelChange)="updateDoubleGameweek()">
      <option *ngFor="let DGWEvent of doubleGameweekEventID; let i = index" [ngValue]="DGWEvent.id"> {{ DGWEvent.id }} </option>
    </select>
    <Label> Current Gameweek: {{ gameweekID }}</Label>

      <ul>
        <ng-container *ngFor="let team of teams">
          <ng-container *ngFor="let fixture of fixturesDGWFilter">
            <li *ngIf="fixture?.team_h === team?.id">
              <app-card>
                <p>{{ team?.name }}</p>
              </app-card>
            </li>
            <li *ngIf="fixture?.team_a === team?.id">
              <app-card>
                <p>{{ team?.name }}</p>
              </app-card>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </ng-container>
</aside>

<section>
  <form [formGroup]="leagueForm" *ngIf="this.leagueForm">
    <label>Switch League: </label>
    <input [(ngModel)]="league.league.id"
    (ngModelChange)="updateLeague()"
    class="form-control"
    formControlName="leagueID"/>
    <p class="error" *ngIf="leagueForm.controls['leagueID'].hasError('pattern') && (leagueForm.controls['leagueID'].dirty || leagueForm.controls['leagueID'].touched)">Use only numbers in League ID search</p>
  </form>
</section>

<section>
  <h2>League Name: {{ league.league.name }}</h2>

  <ul>
    <li *ngFor="let user of standings | paginate: { itemsPerPage: 5, currentPage: p }">
      <a routerLink="/team/{{ user?.entry }}">
        <app-card>
          <p> {{ user?.rank }} </p>
          <p> {{ user?.entry_name }} </p>
          <p> {{ user?.event_total }} </p>
          <p> {{ user?.total }} </p>
        </app-card>
      </a>
    </li>
  </ul>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</section>
